spikes/kestra/flows/prod_refresh.yaml
id: prod_refresh
namespace: platform_docs
description: >-
  PRODUCTION blue-green refresh, collection-agnostic. Builds a fresh versioned
  collection from the current corpus, verifies the full count, then (only with
  confirm=true) re-points the given production alias; the old collection is left
  as an instant rollback. Works for either embedder via inputs: OpenAI
  (prod_alias=platform-docs, upload_script=upload_to_qdrant.py) or FastEmbed
  (prod_alias=platform-docs-fastembed, upload_script=upload_to_qdrant_fastembed.py).

inputs:
  - id: target_collection
    type: STRING
    defaults: platform-docs-v3          # e.g. platform-docs-v4 (OpenAI) or platform-docs-fastembed-v3
  - id: prod_alias
    type: STRING
    defaults: platform-docs             # platform-docs (OpenAI) | platform-docs-fastembed (free)
  - id: upload_script
    type: STRING
    defaults: upload_to_qdrant.py       # upload_to_qdrant.py (OpenAI) | upload_to_qdrant_fastembed.py (FastEmbed)
  - id: rebuild
    type: BOOLEAN
    defaults: true   # false = skip download/split/upload and just verify+promote an existing target
  - id: confirm
    type: BOOLEAN
    defaults: false  # MUST be true to actually re-point the production alias (safety gate)

variables:
  # Bulk sources use batch 25/workers 2; Anthropic (large docs) uploads separately
  # at 10/1 per VECTOR_DB_REFRESH_GUIDE.md "Pitfall 6".
  bulk_sources: "FastMCP GoogleADK Grok Kestra LangChain McpProtocol OpenAI Prefect PydanticAI Supabase Temporal Vue Zep"

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql.Query
    values:
      url: "{{ secret('PLATFORM_DOCS_JDBC_URL') }}"
  - type: io.kestra.plugin.scripts.shell.Commands
    values:
      env:
        UV_PROJECT_ENVIRONMENT: /tmp/kestra-venv

tasks:
  - id: record_run_start
    type: io.kestra.plugin.jdbc.postgresql.Query
    sql: |
      INSERT INTO orchestration.pipeline_runs
        (run_id, flow, stage, status, environment, collection_version)
      VALUES
        ('{{ execution.id }}', '{{ flow.id }}', 'download', 'running', 'prod',
         '{{ inputs.target_collection }}');

  # --- Build phase (skipped when rebuild=false) ---
  - id: reset_target
    type: io.kestra.plugin.scripts.shell.Commands
    runIf: "{{ inputs.rebuild }}"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      # Delete the (non-live) target so the non-idempotent upload starts clean.
      - cd /repo && uv run python -c "import os; from qdrant_client import QdrantClient; c=QdrantClient(url=os.environ['QDRANT_API_URL'], api_key=os.environ['QDRANT_API_KEY']); c.delete_collection('{{ inputs.target_collection }}') if c.collection_exists('{{ inputs.target_collection }}') else None; print('reset {{ inputs.target_collection }}')"

  - id: download_sources
    type: io.kestra.plugin.scripts.shell.Commands
    runIf: "{{ inputs.rebuild }}"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    retry:
      type: constant
      interval: PT30S
      maxAttempt: 3
    commands:
      - cd /repo && uv run scripts/download_llms_raw.py

  - id: split_docs
    type: io.kestra.plugin.scripts.shell.Commands
    runIf: "{{ inputs.rebuild }}"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - cd /repo && uv run scripts/split_llms_pages.py

  - id: upload_bulk
    type: io.kestra.plugin.scripts.shell.Commands
    runIf: "{{ inputs.rebuild }}"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    retry:
      type: constant
      interval: PT1M
      maxAttempt: 3
    commands:
      - cd /repo && uv run scripts/{{ inputs.upload_script }} --sources {{ vars.bulk_sources }} --collection {{ inputs.target_collection }} --batch-size 25 --workers 2

  - id: upload_anthropic
    type: io.kestra.plugin.scripts.shell.Commands
    runIf: "{{ inputs.rebuild }}"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    retry:
      type: constant
      interval: PT1M
      maxAttempt: 3
    commands:
      - cd /repo && uv run scripts/{{ inputs.upload_script }} --sources Anthropic --collection {{ inputs.target_collection }} --batch-size 10 --workers 1

  # --- Verify + promote (always) ---
  - id: compute_expected
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - cd /repo && uv run python -m spikes.kestra.emit_expected --all

  - id: update_state_verifying
    type: io.kestra.plugin.jdbc.postgresql.Query
    sql: |
      UPDATE orchestration.pipeline_runs
      SET stage = 'verify', docs_expected = {{ outputs.compute_expected.vars.count }}
      WHERE run_id = '{{ execution.id }}';

  # THE GATE: non-zero exit fails the flow -> the production swap below never runs.
  - id: verify_counts
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - cd /repo && uv run python -m spikes.kestra.verify_counts --collection {{ inputs.target_collection }} --expected {{ outputs.compute_expected.vars.count }}

  - id: swap_prod_alias
    type: io.kestra.plugin.scripts.shell.Commands
    runIf: "{{ inputs.confirm }}"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - cd /repo && uv run python -m spikes.kestra.prod_alias_swap --alias {{ inputs.prod_alias }} --collection {{ inputs.target_collection }} --expected {{ outputs.compute_expected.vars.count }} --confirm true

  - id: record_run_success
    type: io.kestra.plugin.jdbc.postgresql.Query
    sql: |
      UPDATE orchestration.pipeline_runs
      SET status = 'success', stage = 'alias_swap', finished_at = NOW(),
          alias_swapped_at = {{ inputs.confirm ? 'NOW()' : 'NULL' }},
          docs_uploaded = {{ outputs.compute_expected.vars.count }}
      WHERE run_id = '{{ execution.id }}';

errors:
  - id: record_run_failure
    type: io.kestra.plugin.jdbc.postgresql.Query
    sql: |
      UPDATE orchestration.pipeline_runs
      SET status = 'failed', finished_at = NOW(), error = 'prod refresh failed before promotion'
      WHERE run_id = '{{ execution.id }}';
